{% extends "base.html" %}

{% block content %}

{% if  title %}
  <h1>{{ title }}</h1>
{% endif %}
<form method="POST" action="."> {% csrf_token %}
    <input type="text" name="Full Name">
    <input type="email" name="Email">
    <textarea name='content'></textarea>
    <button type="submit">SEND</button>

</form>

{% endblock %}