{% extends "base.html" %}

{% block content %}
{{title}}
{{request.user}}
{{request.path}}
{{use}}
{{user.is_authenticated}}
<p>User only data</p>
   {% for a in my_list %}
    <li>{{a}}</li>
   {% endfor %}

{% endblock %}